		body {
		  font-family: 'Asar', serif;
		  font-size: 14px;
		  font-weight: 400;
		  color: #525252;
		  text-align: center;
		}
		
		html, body { 
			width:auto; 
			height:auto; 
		}
		.margin30{
			margin-bottom:30px;
		}
		
		h1,h2,h3,h4,p{
			font-family: 'Asar', serif;
		}

        h2 {
			font-size:20px;
            font-weight: bold;
		}
		
		.axis path,
		.axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}

		path:hover{
			/* fill: black; */
			
		}
		
		#chart{
			z-index:1;
		}
.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  z-index: 10;
  display: block;
  opacity: 0;
}



		
		label{	
			padding-top:20px;
		}

		#time-range{
			padding-top: 20px;
		}